__pycache__/
**/__pycache__/
todo.md
tests/__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env/
env/
ENV/
.mypy_cache/
.pytest_cache/
.cache/
.idea/
.vscode/
dist/
build/
/maplabel_temp/
/.maplabel_temp/
**/*.egg-info/
test